.header {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.header_hamburguer-menu {
  width: 24px;
  height: 24px;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container {
  display: flex;
  align-items: center;
}

.container_imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}

.container_botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu_titulo,
.lista-menu_item {
  background-color: var(--branco);
  padding: 1em;
}

.lista-menu_titulo {
  color: var(--laranja);
  font-weight: 700;
}

.lista-menu_link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container_botao {
  display: none;
}

.container_titulo {
  display: none;
}

.opcoes {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container_titulo,
  .container_titulo-negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
  }

  .container_titulo {
    font-weight: 400;
    display: block;
  }

  .container_titulo-negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
    align-items: center;
  }

  .opcoes_item {
    padding: 2.2em 1em;
  }

  .opcoes_link {
    text-decoration: none;
    color: var(--preto);
  }

  .container_imagem-transparente {
    display: none;
  }

  .header_hamburguer-menu {
    display: none;
  }
  .opcoes_botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  .opcoes_botao {
    display: none;
  }
  .opcoes_botao:checked ~ .opcoes_rotulo > .opcoes_item {
    background: var(--azul-degrade);
    color: var(--branco);
  }

  .lista-menu_item:hover {
    background: var(--azul-degrade);
}
.lista-menu_item:hover > .lista-menu_link {
  -webkit-text-fill-color: var(--branco);
  text-decoration: none;
}
}

.container_texto{
  display: none;
}

@media screen and (min-width:1728px) {
  .container_link {
    display: flex;
    text-decoration: none;
    color: var(--preto);
    align-items: center;
  }

  .container img {
    margin-left: 4em;
    padding: .1em;
  }

  .container{
    margin-right: 5em;
  }

  .opcoes {
    margin-right: auto;
  }

  .container_texto {
    font-size: 20px;
    display: block;
  }
}